.carousel-inner {
	background-color: #fbe4e4
}

.experience-text{
	color: #667;
}
.carousel-text{
	color: #667;  
}
.boxed{
	background-color: #fbe4e4;
    border-radius: 25px;
    opacity: 0.7	
}

.boxed:hover{
	opacity: 1 
}