/* Text */
.text-center > em {
	color: #3cbae7;
}
/* Social Icons */
#footer-end > a {
  color: #3cbae7;
  text-decoration: none;
}
#footer-end > a:hover {
  color: #ffadaf;
  text-decoration: none;
}

@media (min-width: 767px){
  .text-center > a {
    display:none;
  }
}

@media (max-width: 767px){
  .text-center > em {
    color: #2b85a5;
  }
}