.projects-text{
	color: #667;
}

.projectImgGraph{
	width: 301px;
	height: 262px;
}

.projectImgSeamcarve {
	width: 316px;
	height: 233px;
}

.projectImgSketchy {
	width: 317px;
	height: 256px;
}

.projectImgTetris {
	width:252px;
	height: 443px;
}

.projectImgDoodlejump {
	width: 216px;
	height: 445px;
}